__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
# Specific excludes for logs and screenshots
pip-log.txt
pip-delete-this-directory.txt
*.png
*.log
*.html
*.json
# Exclude git and github
.git
.github
.gitignore
# Data persistence should be host-mounted
data/*.csv
# IMPORTANT: DO NOT ignore requirements.txt
!requirements.txt
